
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: lightslategray;

    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    
    height: 80vh;
    width: 80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 2;
}

.selection {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 2;

    visibility: hidden;
    opacity: 0;
    transition: .5s;

    
}

.versus {
    height: 100%;
    width: 100%;
    
    background-color: rgb(141, 15, 36);    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transition: .5s;
    
}

.magician {
    
    height: 10em;
    width: 10em;
    
    box-shadow: 5px 7px 8px 2px rgb(46, 46, 46);
}

.magician img {
    height: 10em;
    width: 10em;
}

.magicianSelected {
    
    filter:grayscale(100%);
    transform: translatey(-1em);
    box-shadow: 0px 0px 4px .1px rgb(46, 46, 46),
                0px 0px 26px 1px rgb(255, 255, 255);
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: .5s;

}